body {
  background-color: transparent;
  padding-top: 20px;
  padding-bottom: 40px;
}

.main-layout {
  display: none;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
  margin-top: 80px;
  color: rgb(119, 119, 119);
  border-top: 1px solid rgb(229, 229, 229);
}

footer img {
  vertical-align:middle;
  height: 24px;
}

.browser-specific {
  display: none;
}

.container {
  max-width: 800px;
}

.app h4 {
  background-repeat: no-repeat;
  background-position:  2px 2px;
  background-size: 16px 16px;
  padding-left: 20px
}

.app {
  max-height: 200px;
  height: 200px;
  min-height: 200px;
  padding-bottom: 20px;
}

.modal-header h3 {
  display: inline;
}

.rss {
  padding: 4px;
  opacity: 0.3;
  display: inline;
  filter: url(filters.svg#grayscale);
  filter: gray;
  -webkit-filter: grayscale(1);
}

.rss:hover {
  opacity: 0.8;
  filter: none;
  -webkit-filter: grayscale(0);
}

.icon-service {
  margin: 0px 3px;
  width: 14px;
  height: 14px;
  background-size: 14px 14px;
  background-repeat: no-repeat;
  background-position: center;
}

