body {
  background-color: transparent;
  padding-top: 20px;
  padding-bottom: 40px;
}

.main-layout {
  display: none;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
  margin-top: 80px;
  color: rgb(119, 119, 119);
  border-top: 1px solid rgb(229, 229, 229);
}

footer img {
  vertical-align:middle;
  height: 24px;
}

.browser-specific {
  display: none;
}

.container {
  max-width: 800px;
}

.app h4 {
  background-repeat: no-repeat;
  background-position:  2px 2px;
  background-size: 16px 16px;
  padding-left: 20px
}

.app {
}

.store .app {
  max-height: 200px;
  height: 200px;
  min-height: 200px;
  padding-bottom: 20px;
}

.modal-body .app h4{
  display:inline;
}

.modal-body .app {
  margin-bottom: 10px;
}

.modal-body .btn.pick{
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
}

.modal-body .defaults .btn-group {
  margin-bottom: 10px;
}

.modal-body .apps .app .btn.pick{
  width: 90px;
}

.modal-body .app .btn.icn{
  width:10px;
}

.modal-body .app .btn-group{
  width:120px;
  white-space: nowrap;
  overflow: hidden;
}

.modal-header h3 {
  display: inline;
}


.rss {
  padding: 4px;
  opacity: 0.3;
  display: inline;
  filter: url(filters.svg#grayscale);
  filter: gray;
  -webkit-filter: grayscale(1);
}

.rss:hover {
  opacity: 0.8;
  filter: none;
  -webkit-filter: grayscale(0);
}

.icon-service {
  margin: 0px 3px;
  width: 14px;
  height: 14px;
  background-size: 14px 14px;
  background-repeat: no-repeat;
  background-position: center;
}


@media (max-width: 767px) {
  #logo-scale {
    -webkit-transform: scale(0.8) translate(0px,130px);
    transform: scale(0.8) translate(0px,130px);
  }

  #subtome-logo {
    height: 80px;
  }
}
@media (min-width: 768px) {
  #logo-scale {
    -webkit-transform: scale(2);
    transform: scale(2);
  }

  #subtome-logo {
    height: 180px;
  }
}

.label {
  display:inline-block; margin-right:4px;
}

