.browser-specific {
  display: none;
}

#demo {
  width:180px;
}

.rss {
  padding: 4px;
  opacity: 0.3;
  float: right;
  filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome & Safari 6+ */
}

.rss:hover {
  opacity: 0.8;
  filter: none;
  -webkit-filter: grayscale(0);
}

.app {
  max-height: 200px;
  height: 200px;
  min-height: 200px;
  min-width: 170px;
  padding-bottom: 20px;
}

.app h4 {
background-repeat: no-repeat;
background-position:  2px 2px;
background-size: 16px 16px;
padding-left: 20px
}

      body {
        background-color: transparent;
        padding-top: 20px;
        padding-bottom: 40px;
      }

      /* Custom container */
      .container-narrow {
        margin: 0 auto;
        max-width: 770px;
      }
      .container-narrow > hr {
        margin: 30px 0;
      }

      /* Main marketing message and sign up button */
      .jumbotron {
        margin: 60px 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 72px;
        line-height: 1;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }

      /* Supporting marketing content */
      .marketing {
        margin: 60px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }


.btn.service {
  display: block; margin: 10px; width:200px
}

.lead.addons {
background-color: #f9f9f9;
border:1px solid #dddddd;
padding: 3px 10px;
border-radius: 4px;
}
