<h1 ng-i18next="developers.title">Applications</h1>
<h2 ng-i18next="developers.subtitle">Allow your users to subscribe to content</h2>
<p ng-i18next="developers.summary">
  If your application is able to handle user subscriptions, this section is for you.
</p>
<h3 ng-i18next="developers.registration.title">Registration</h3>
<p ng-i18next="[html]developers.registration.description">
  Your users will click on subscribe buttons on some <a href="#/publishers">publisher</a> pages. When they do so, a
  list of the subscription services <em>they</em> used in the past is displayed. This list
  was not curated by us, but stored in their browser (using localStorage) from services that registered their ability to perform
  susbcriptions for that user.
</p>
<p ng-i18next="[html]developers.registration.loading">You too can quickly and easily register your application for your users by loading an iframe like this: <small>Please note that this is completely transparent for the user!</small></p>

<!-- Gist -->
<div id="gist4332573" class="gist">
  <div class="gist-file">
    <div class="gist-data gist-syntax">
      <div class="file-data">
        <table cellpadding="0" cellspacing="0" class="lines highlight">
          <tr>
            <td class="line-numbers">
              <span class="line-number" id="file-subscribe-button-html-L1" rel="file-subscribe-button-html-L1">1</span>
            </td>
            <td class="line-data">
              <pre class="line-pre"><div class="line" id="file-subscribe-button-html-LC1"><span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">&quot;button&quot;</span> <span class="na">onclick=</span><span class="s">&quot;(function(){var z=document.createElement(&#39;script&#39;);z.src=&#39;https://www.subtome.com/load.js&#39;;document.body.appendChild(z);})()&quot;</span> <span class="na">value=</span><span class="s">&quot;Subscribe&quot;</span><span class="nt">&gt;</span></div></pre>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="gist-meta">
      <a href="https://gist.github.com/julien51/4332573/raw/14b25f093a6ac44dcf193debff31f83836642f2b/subscribe-button.html" style="float:right">view raw</a>
      <a href="https://gist.github.com/julien51/4332573#file-subscribe-button-html" style="float:right; margin-right:10px; color:#666;">subscribe-button.html</a>
      <a href="https://gist.github.com/julien51/4332573">This Gist</a> brought to you by <a href="https://github.com">GitHub</a>.
    </div>
  </div>
</div>

<p ng-i18next="[html]developers.registration.details">The <code>name</code> query string is the name of your application and the <code>url</code> is the url of the hander which will be called in your application to perform a subscription (thru a user redirect). </p>
<p ng-i18next="[html]developers.registration.params.info">
  The subscription handler is obviously completely up to you, but it should include at least one of the following:
</p>
<ul>
  <li ng-i18next="[html]developers.registration.params.url"><code>{url}</code> will be populated with the <code>location.href</code> of the page on which the user clicked the subscribe button.</li>
  <li ng-i18next="[html]developers.registration.params.feeds"><code>{feeds}</code> will be populated with the <code>href</code> element of each <code><link></code> elements corresponding to a feed in the page on which the user clicked.</li>
  <li ng-i18next="[html]developers.registration.params.feed"><code>{feed}</code> will be populated with the first (if any) of the <code>{feeds}</code> above.
  </li>
</ul>

<blockquote ng-i18next="[html]developers.handling.example">For example, if your application registers the following url: <br /><code>http://my-great-reader.com/feeds/subscribe?feed={feed}&url={url}</code>,<br /> the user will be redirected to <a href="http://my-great-reader.com/feeds/subscribe?feed=http%3A%2F%2Fblog.superfeedr.com%2Fatom.xml&url=http%3A%2F%2Fblog.superfeedr.com%2">this url</a> to subscribe to the <a href="http://blog.superfeedr.com/">Superfeedr Blog</a>.</blockquote>

<h3 ng-i18next="developers.handling.title">Subscription handling</h3>

<p ng-i18next="[html]developers.handling.description">When a user clicks on a SubToMe button, he can pick his favorite subscription application. If it's yours, then, a new browser tab will be created and will point to your application's handler <code>url, feed or feeds</code> (see previous section). Based on the <code>url</code> you've provided, you will be able to extract the location of the page on which the button was clicked and its feeds.</p>
<p ng-i18next="[html]developers.handling.feeds">Your application should then, perform the subscription, by extracting the content it needs. We recommend using the RSS/Atom feeds, but you could also very well extract the links to a Twitter profile for example allow the user to follow that profile. Possibilities are endless.</p>
