<div id="subtomeModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="subtomeModal" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 ng-i18next="subscribe.title">Follow with</h3>
    <a ng-show="feeds.length > 0" href="{{feeds[0]}}" target="_blank" class="rss"><img src='./img/rss-small.png' /></a>
  </div>

  <div class="modal-body">

    <div class="animate-switch-container" ng-switch on="picker">

      <div ng-switch-when="default">
        <p ng-show="services.error" class="alert alert-error">{{services.error}}</p>
        <p ng-i18next="[html]subscribe.services.none" ng-show="services.count() == 0 && !suggested">You do not have selected your prefered services yet. Please, <a target="_blank" href="#/store">pick one</a>!</p>

        <p ng-i18next="subscribe.services.pick" ng-show="services.count() > 0">Pick a service to subscribe to this page:</p>

        <p>
          <button ng-repeat="service in services.used()" ng-click='openService(service)' class="btn btn-default btn-block" data-dismiss="modal" > <span class="glyphicon icon-service" style="background-image: url(https://plus.google.com/_/favicon?domain={{service.url}})"></span>{{service.name}}</button>
        </p>

        <div ng-show="suggested">
          <p ng-i18next="subscribe.services.suggested" ng-show="services.count() > 0">Recomanded:</p>
          <p ng-i18next="subscribe.services.recommanded" ng-show="services.count() == 0 ">Recomanded tool by the publisher:</p>
          <p>
            <button ng-show="suggested" ng-click='openService(suggested)' class="btn btn-default btn-block" data-dismiss="modal"> <span class="glyphicon icon-service" style="background-image: url(https://plus.google.com/_/favicon?domain={{suggested.url}})"></span>{{suggested.name}}</button>
          </p>
        </div>
      </div>

      <div ng-switch-when="store" id="apps">

        <div ng-repeat="app in apps" class="row app">
          <div class="col-md-10">
            <h4 style="background-image: url({{app.icon}})">
              <a target="_blank" href="{{app.url}}">{{app.name}}</a>
            </h4>
            <span class="label label-default" ng-repeat="tag in app.tags">{{tag}}</span>
            <div class="row">
              <div class="col-sm-10">
                <p>{{app.description}}</p>
              </div>
              <div class="col-sm-2">
                <div class="btn-group btn-group-justified">
                  <button ng-click='openService(app)' class="btn btn-sm btn-default pick" data-dismiss="modal" >{{app.name}}</button>
                  <button ng-click='toggle(app)' class="btn btn-sm btn-default icn"><span ng-class='{"glyphicon": true, "glyphicon-heart": !app.installed, "glyphicon-remove": app.installed}'></span></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
  <div class="modal-footer">
    <a ng-click='toggleStore()' class="btn btn-default" aria-hidden="true">Pick another one</a>
    <button ng-i18next="subscribe.cancel" class="btn btn-danger" data-dismiss="modal" aria-hidden="true">Cancel</button>
  </div>
</div>
