<div id="subtomeModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="subtomeModal" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 ng-i18next="subscribe.title">Follow with</h3>
    <a ng-show="feeds.length > 0" href="{{feeds[0]}}" target="_blank" class="rss"><img src='./img/rss-small.png' /></a>
  </div>

  <div class="modal-body">

    <div class="animate-switch-container" ng-switch on="picker">

      <div ng-switch-when="default" class="defaults" >

        <p ng-show="services.error" class="alert alert-error">{{services.error}}</p>

        <!-- Popular readers -->
        <div ng-show="services.count() == 0 && !suggested">
          <p>You do not have any prefered service, check our popular options:</p>
          <div ng-repeat="service in apps.slice(0,3)" class="btn-group">
            <button ng-click='openService(service)' class="btn btn-default pick" data-dismiss="modal" ><span class="glyphicon icon-service" style="background-image: url(https://plus.google.com/_/favicon?domain={{service.url}})"></span>{{service.name}}</button>
            <button ng-click='toggle(service)' class="btn btn-default icn"><span ng-class='{"glyphicon": true, "glyphicon-heart": !services.uses(service), "glyphicon-remove": services.uses(service)}'></span></button>
          </div>
        </div>

        <!-- Prefered -->
        <div ng-show="services.count() > 0">
          <p ng-i18next="subscribe.services.pick">Pick one of your favorite services to subscribe:</p>
          <div ng-repeat="service in services.used()" class="btn-group">
            <button ng-click='openService(service)' class="btn btn-default pick" data-dismiss="modal" ><span class="glyphicon icon-service" style="background-image: url(https://plus.google.com/_/favicon?domain={{service.url}})"></span>{{service.name}}</button>
            <button ng-click='toggle(service)' class="btn btn-default icn"><span ng-class='{"glyphicon": true, "glyphicon-heart": !services.uses(service), "glyphicon-remove": services.uses(service)}'></span></button>
          </div>
        </div>

        <!-- Suggested -->
        <div ng-show="suggested">
          <p ng-i18next="subscribe.services.recommanded">Recomanded by the publisher:</p>
          <div class="btn-group">
            <button ng-show="suggested" ng-click='openService(suggested)' class="btn btn-default pick" data-dismiss="modal"> <span class="glyphicon icon-service" style="background-image: url(https://plus.google.com/_/favicon?domain={{suggested.url}})"></span>{{suggested.name}}</button>
            <button ng-click='toggle(suggested)' class="btn btn-default icn"><span ng-class='{"glyphicon": true, "glyphicon-heart": !services.uses(suggested), "glyphicon-remove": services.uses(suggested)}'></span></button>
          </div>
        </div>

      </div>

      <div ng-switch-when="store" class="apps">

        <div ng-repeat="app in apps" class="row app">
          <div class="col-md-10">
            <h4 style="background-image: url({{app.icon}})">
              <a target="_blank" href="{{app.url}}">{{app.name}}</a>
            </h4>
            <span class="label label-default" ng-repeat="tag in app.tags">{{tag}}</span>
            <div class="row">
              <div class="col-sm-8">
                <p>{{app.description}}</p>
              </div>
              <div class="col-sm-4">
                <div class="btn-group">
                  <button ng-click='openService(app)' class="btn btn-sm btn-default pick" data-dismiss="modal" >Follow with {{app.name}}</button>
                  <button ng-click='toggle(app)' class="btn btn-sm btn-default icn"><span ng-class='{"glyphicon": true, "glyphicon-heart": !services.uses(app), "glyphicon-remove": services.uses(app)}'></span></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
  <div class="modal-footer">
    <a ng-click='toggleStore()' class="btn btn-default" aria-hidden="true">{{toggleButton}}</a>
    <button ng-i18next="subscribe.cancel" class="btn btn-danger" data-dismiss="modal" aria-hidden="true">Cancel</button>
  </div>
</div>
