<h1 ng-i18next="publishers.title">Publishers</h1>
<h2 ng-i18next="publishers.subtitle">Get your readers to subscribe to your content</h2>
<p ng-i18next="[html]publishers.summary">
  You update your content regularly. You want your users to come back when that happens: allow them to <em>subscribe</em> to your content. It's as easy as adding a button like this one <button ng-click='follow()' class='btn btn-mini'>Subscribe</button> to any page where you want to allow subscriptions. Make sure your page links to a feed corresponding to the data your readers will susbcribe to.
</p>
<p  ng-i18next="publishers.code">
  Copy and paste the code below into any HTML page.
</p>
<div class="script" data-src="https://gist.github.com/4332573.js"></div>

<p  ng-i18next="[html]publishers.details">What this does is quite simple: when the user clicks the button, it loads a small Javascript snippet located at <code><a href="https://www.subtome.com/load.js">https://www.subtome.com/load.js</a></code>. This snippet will then load the SubToMe modal. Feel free to check the code if you want to learn more.</p>

<p  ng-i18next="publishers.open">Of course, this is 100% open, which means that you can change that code in any way you want, or use other mechanisms that fit your needs. Feel free to get in touch if you need help.</p>

<h3 ng-i18next="publishers.easy.title">Easy way</h3>
<p ng-i18next="[html]publishers.easy.wordpress">If you use Wordpress for your blog, just add this <a href="http://wordpress.org/extend/plugins/subtome">SubToMe widget</a> to your layout, or look for <i>SubToMe</i> in your dashboard's 'Install Plugins' interface.</p>

<h3 ng-i18next="publishers.custom.title">Custom way</h3>
<p ng-i18next="publishers.custom.summary">Of course, each publisher has their own constraints, and SubToMe is pretty flexible. For example, you may want to make buttons for several feeds, buttons that load a feed which is not linked on the page directly, or you may even not want to show a button at all and show the SubToMe frame when the user comes to your site first... etc</p>

<p  ng-i18next="[html]publishers.custom.details">This is all possible, but you'll have to come up with some code. Don't use the <code>load.js</code> file, just insert an <code>iframe</code> in your page which will show the SubToMe modal. Use the following <code>src</code> attribute: <code>https://www.subtome.com/#/subscribe?resource={resource}&feeds={feeds}</code>.</p>
<ul>
  <li ng-i18next="[html]publishers.custom.params.resource"><code>{resource}</code> is the encoded url of the web resource to which the user is subscribing. It does not need to be a feed!</li>
  <li ng-i18next="[html]publishers.custom.params.feeds"><code>{feeds}</code> is a coma separated list of encoded feed urls. There can obviously be just one.</li>
</ul>

<blockquote ng-i18next="[html]publishers.custom.example">For example, this button will allow you to <input class="btn btn-mini" type="button" value="subscribe to Superfeedr's Blog" ng-click="open('http://blog.superfeedr.com/atom.xml')" />, while this button will allow you to <input class="btn btn-mini" type="button" value="follow SubToMe's code commits" ng-click="open('https://github.com/superfeedr/subtome/commits/master.atom')" />.</blockquote>
