<p class="lead" style="background-color: #f9f9f9; border:1px solid #dddddd; padding: 3px 10px; border-radius: 4px;">Drag and drop this <a href="javascript:(function(){var%20z=document.createElement('script');z.src='https://www.subtome.com/load.js';document.body.appendChild(z);})()" onclick="" id="bookmarklet_button" class="btn btn-mini" title="Drag this to your Bookmarks Bar to install">Subscribe</a> bookmarklet into your bookmark bar <span class='browser-specific chrome'>or install this <a class='install' href="https://chrome.google.com/webstore/detail/subtome/cjkhnlmkkfheepafpgppmpdahbjgkjfc">Chrome Extension</a>, </span> <span class='browser-specific firefox'>or install this <a class='install' href="https://addons.mozilla.org/en-us/firefox/addon/subtome-subscribe-button/">Firefox Add-On</a>, </span>to subscribe to pages without a subscribe button.</p>
      <h1>Subscribing applications</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name of Service</th>
            <th>Added On</th>
<!--             <th>Default (None: <input type="radio" name="defaultRadios" id='noDefault' style='margin: 3px;' checked>)</th>
 -->            <th>&nbsp;</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody id="services">
        </tbody>
      </table>
      <p id="defaultMsg" style="text-align: center;font-style: italic; margin: 30px auto;">You currently do not use any reader.</p>

      <p>
        New services are added automatically when they register with SubToMe. Check our <a href="/#/store">suggested apps</a>.
      </p>
