<div id="apps" class="store row">
  <div ng-repeat="app in apps" class="col-sm-4 app">
    <h4 style="background-image: url({{app.icon}})">
      <a target="_blank" href="{{app.url}}">{{app.name}}</a>
    </h4>
    <div>
      <span class="label label-default" ng-repeat="tag in app.tags">{{tag}}</span>
    </div>
    <p>{{app.description}}</p>

    <span ng-show="app.installed" class="success" ng-i18next="[html]store.installed"><span class="glyphicon glyphicon-ok"></span>&nbsp;Installed</span>
    <button ng-show="app.installed" ng-click="remove(app)"  type="button" class="btn btn-xs btn-danger" ng-i18next="store.remove">Remove</button>
    <button ng-hide="app.installed" type="button" ng-click="install(app)" class="btn btn-xs btn-primary" ng-i18next="store.install">Install</button>
  </div>
</div>
