<h1>Import</h1>
<p>
  Import your OPML file to subscribe to more feeds in your favorite reader.
</p>
<table class="table table-striped">

  <tr ng-repeat="subscription in subscriptions">
    <td class='feed-title'>{{subscription.title || subscription.html || subscription.feed}}</td>
    <td>
      <a class="btn btn-default btn-xs pull-right" follow-on='click' data-subtome-resource="{{subscription.html}}" data-subtome-feeds="{{subscription.feed}}" >Follow</a>
    </td>
  </tr>
</table>

<input type="file" data-file-picker>
<p class="help-block">Most RSS readers will allow you to export your subscription list.</p>

