<div id="subtomeModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="subtomeModal" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 ng-i18next="subscribe.title">Follow</h3>
  </div>

  <div class="modal-body">

    <div class="animate-switch-container" ng-switch on="picker">

      <div ng-switch-when="default" class="defaults" >

        <p ng-show="services.error" class="alert alert-error">{{services.error}}</p>

        <!-- All removed! -->
        <div ng-show="!showPopular && services.count() == 0">
          <p ng-i18next="[html]subscribe.services.none">You do not have selected your preferred services yet. Please, pick one!</p>
        </div>

        <!-- Popular readers -->
        <div ng-show="showPopular">
          <p ng-i18next="[html]subscribe.services.popular">Here are some popular options:</p>
          <service-button ng-repeat="service in apps.slice(0,3)" ></service-button>
        </div>

        <!-- Preferred -->
        <div ng-show="services.count() > 0">
          <p ng-i18next="subscribe.services.pick">Pick one of your favourite services: </p>
          <service-button ng-repeat="service in services.used()" ></service-button>
        </div>

        <!-- Suggested -->
        <div ng-show="suggested">
          <p ng-i18next="subscribe.services.recommended">Recommended by the publisher:</p>
          <service-button ng-repeat="service in suggested" ></service-button>
        </div>

      </div>

      <div ng-switch-when="store" class="apps">

        <div ng-repeat="service in apps" class="row app">
          <div class="col-md-10">
            <h4 style="background-image: url(https://plus.google.com/_/favicon?domain={{service.url}})">
              <a target="_blank" href="{{service.url}}">{{service.name}}</a>
            </h4>
            <span class="label label-default" ng-repeat="tag in service.tags">{{tag}}</span>
            <div class="row">
              <div class="col-sm-8">
                <p>{{service.description}}</p>
              </div>
              <div class="col-sm-4">
                <service-button ></service-button>
              </div>
            </div>
          </div>
        </div>
        <small class="">Learn more about <a target="_blank" href="/">SubToMe</a>.</small>
      </div>

    </div>

  </div>
  <div class="modal-footer">
    <a ng-click='toggleStore()' class="btn btn-default" aria-hidden="true">{{toggleButton}}</a>
    <button ng-i18next="subscribe.cancel" class="btn btn-danger" data-dismiss="modal" aria-hidden="true">Cancel</button>
  </div>
</div>
